<nav class="navbar">
  <h1 class="logo"><i class="fas fa-cube"></i> TechPost</h1>
  <ul class="nav-links desktop">
      <li><a href="#">Home</a></li>
      <li><a href="#">Post</a></li>
      <li><a href="#">Add Post</a></li>
      <li><a href="#" class="nav-btn">Logout</a></li>
  </ul>
  <i class="fas fa-bars mobile-menu-bar" id="menu" (click)="ToggleMobileMenu()"></i>
</nav>
<ul class={{navbarClass}} id="mobile-links" >
  <li><a href="#">Home</a></li>
  <li><a href="#">Post</a></li>
  <li><a href="#">Add Post</a></li>
  <li><a href="#" class="nav-btn">Logout</a></li>
</ul>
